:root {
    --color-red: hsla(0, 97%, 63%, 1);
    --color-dark-blue: hsla(224, 30%, 9%, 1);
    --color-dark-blue-50: hsla(224, 30%, 9%, 0.5);
    --color-grey-blue: hsla(223, 23%, 46%, 1);
    --color-semi-dark-blue: hsla(223, 36%, 13%, 1);
    --color-white: hsla(0, 0%, 100%, 1);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

button,
input {
    font: inherit;
    color: inherit;
}

html {
    font-family: 'Outfit', sans-serif;
    color: var(--color-white);
    background-color: var(--color-dark-blue);
}

body {
    padding-bottom: 61px;

    @media only screen and (min-width: 768px) {
        padding-bottom: 56px;
    }

    @media only screen and (min-width: 1100px) {
        padding-bottom: 52px;
    }
}

main {
    @media only screen and (min-width: 1100px) {
        display: grid;

        grid-template-columns: 96px 1fr;
        grid-template-rows: 97px 335px 1fr;

        column-gap: 36px;

        margin-top: 32px;
        margin-left: 32px;
    }
}
