// // // // // // // // // // // // // // // // // // // //

.section {
  margin: 0 16px;

  @media only screen and (min-width: 768px) {
    margin: 0 24px;
  }

  @media only screen and (min-width: 1100px) {
    margin: 0 36px 0 0;

    grid-column: 2 / 3;
    // grid-row: 3 / 4;
  }
}

// .wrapper {
//     padding-bottom: 61px;

//     @media only screen and (min-width: 768px) {
//         padding-bottom: 56px;
//     }

//     @media only screen and (min-width: 1100px) {
//         padding-bottom: 52px;
//     }
// }

.spaceBetweenBlocks {
  margin-bottom: 24px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 48px;
  }

  @media only screen and (min-width: 1100px) {
    margin-bottom: 40px;
  }
}

.title {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.3125px;
  margin-bottom: 24px;

  @media only screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
  }

  @media only screen and (min-width: 1100px) {
    margin-bottom: 32px;
  }
}

.boxes {
  display: grid;
  column-gap: 15px;
  row-gap: 16px;

  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media only screen and (min-width: 768px) {
    column-gap: 30px;
    row-gap: 24px;

    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media only screen and (min-width: 1100px) {
    column-gap: 40px;
    row-gap: 32px;

    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-flow: dense;
  }
}

// // // // // // // // // // // // // // // // // // // //

.box {
  cursor: pointer;

  &:hover .play {
    opacity: 1;
    visibility: visible;
  }

  &:hover .img_wrapper::after {
    background-position: 100%;
  }

  &:hover .movie_img {
    transform: scale(1.1);
  }
}

.img_wrapper::after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 8px;

  position: absolute;
  z-index: 15;
  left: 0;
  top: 0;

  // prettier-ignore
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.5) 50%);
  background-size: 250%;
  transition: all 0.4s;
}

.play {
  position: absolute;
  z-index: 25;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;

  padding: 6px;
  padding-right: 16px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50px;

  opacity: 0;
  visibility: hidden;

  transition: background-color 0.15s, opacity 0.2s, transform 0.2s;

  @media only screen and (min-width: 768px) {
    padding: 9px;
    padding-right: 24px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.95);
  }

  img {
    width: 20px;
    height: 20px;
    user-select: none;
    margin-right: 19px;

    @media only screen and (min-width: 768px) {
      width: revert;
      height: revert;
    }
  }

  p {
    font-weight: 500;
    font-size: 14px;
    user-select: none;

    @media only screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 23px;
    }
  }
}

// // // // // // // // // // // // // // // // // // // //

.img_wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 8px;
}

.movie_img {
  display: flex;
  width: 100%;
  transition: transform 0.25s ease-out;
}

// // // // // // // // // // // // // // // // // // // //

@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.bookmark_button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 20;
  top: 8px;
  right: 8px;

  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-dark-blue-50);

  user-select: none;
  cursor: pointer;

  &:hover {
    animation: pulsate infinite 1s;
  }

  img {
    pointer-events: none;
  }
}

// // // // // // // // // // // // // // // // // // // //

.box_details {
  display: flex;
  align-items: center;
  column-gap: 14px;
  margin-bottom: 4px;

  font-weight: 300;
  font-size: 11px;
  line-height: 14px;

  @media only screen and (min-width: 768px) {
    column-gap: 19px;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  p {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);

    &:not(:last-child) {
      &::after {
        content: '';
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        position: relative;
        left: 7px;

        @media only screen and (min-width: 768px) {
          width: 3px;
          height: 3px;
          left: 10px;
        }
      }
    }
  }

  img {
    width: 10px;
    height: 10px;
    margin-right: 4px;

    @media only screen and (min-width: 768px) {
      width: revert;
      height: revert;
      margin-right: 6px;
    }
  }
}

.movie_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  @media only screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 23px;
  }
}

// // // // // // // // // // // // // // // // // // // //
