// // // // // // // // // // // // // // // // // // // //

.nav {
    @media only screen and (min-width: 768px) {
        margin: 23px 24px 0 24px;
    }
}

.wrapper {
    height: 56px;
    padding: 0 16px;
    background-color: var(--color-semi-dark-blue);

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (min-width: 768px) {
        border-radius: 10px;
    }
}

// // // // // // // // // // // // // // // // // // // //

.logo {
    width: 25px;
    height: 20px;
    cursor: pointer;
}

// // // // // // // // // // // // // // // // // // // //

.btns_wrapper {
    display: flex;
}

.btn {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 12px;

    svg {
        pointer-events: none;
        transform: scale(0.8);
    }

    &:hover {
        cursor: pointer;

        path {
            fill: var(--color-red);
        }
    }
}

.active {
    path {
        fill: var(--color-white);
    }

    &:hover path {
        fill: var(--color-white);
    }
}

// // // // // // // // // // // // // // // // // // // //

.profile_btn {
    display: flex;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    background-color: transparent;
}

.profile_img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

// // // // // // // // // // // // // // // // // // // //
