.section {
  margin: 0 0 0 16px;

  @media only screen and (min-width: 768px) {
    margin: 0 0 0 24px;
  }

  @media only screen and (min-width: 1100px) {
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow: scroll;
  }
}

.wrapper {
  margin-bottom: 24px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.title {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.3125px;
  margin-bottom: 16px;

  @media only screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin-bottom: 25px;
  }
}

.boxes {
  display: flex;
  overflow-x: scroll;
  border-radius: 8px;
  padding-right: 24px;

  @media only screen and (min-width: 768px) {
    padding-right: 44px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.box {
  width: 240px;
  height: 140px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  flex-shrink: 0;
  border-radius: 8px;
  padding: 16px;

  overflow: hidden;
  position: relative;
  cursor: pointer;

  @media only screen and (min-width: 768px) {
    width: 470px;
    height: 230px;
    padding: 24px;
  }

  &:not(:last-child) {
    margin-right: 16px;

    @media only screen and (min-width: 768px) {
      margin-right: 40px;
    }
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 15;
    left: 0;
    top: 0;

    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.5) 50%);
    background-size: 235%;
    transition: all 0.4s;
  }

  &:hover {
    &::after {
      background-position: 100%;
    }

    .play {
      opacity: 1;
      visibility: visible;
    }
  }
}

.play {
  position: absolute;
  z-index: 25;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;

  padding: 6px;
  padding-right: 16px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  border: none;

  opacity: 0;
  visibility: hidden;

  transition: background-color 0.15s, opacity 0.2s, transform 0.2s;

  @media only screen and (min-width: 768px) {
    top: 50%;
    padding: 9px;
    padding-right: 24px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.95);
  }

  img {
    width: 20px;
    height: 20px;
    user-select: none;
    margin-right: 19px;

    @media only screen and (min-width: 768px) {
      width: revert;
      height: revert;
    }
  }

  p {
    font-weight: 500;
    font-size: 14px;
    user-select: none;

    @media only screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 23px;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.box_img {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.bookmark_button {
  position: absolute;
  z-index: 20;
  top: 8px;
  left: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-dark-blue-50);
  border: none;
  user-select: none;
  cursor: pointer;

  &:hover {
    animation: pulsate infinite 1s;
  }

  @media only screen and (min-width: 768px) {
    top: 16px;
    right: 24px;
    left: revert;
  }

  img {
    pointer-events: none;
  }
}

.box_details {
  position: relative;
  z-index: 20;

  display: flex;
  align-items: center;
  column-gap: 19px;

  font-weight: 300;
  font-size: 12px;
  line-height: 15px;

  margin-bottom: 4px;

  @media only screen and (min-width: 768px) {
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 3px;
  }

  p {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);

    &:not(:last-child) {
      &::after {
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        position: relative;
        left: 11px;
      }
    }
  }

  img {
    margin-right: 6px;
  }
}

.movie_title {
  position: relative;
  z-index: 20;

  font-weight: 500;
  font-size: 15px;
  line-height: 19px;

  @media only screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 30px;
  }
}
