.heading {
    color: var(--color-white);

    &__l {
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.5px;
    }

    &__m {
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
    }

    &__s {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
    }

    &__xs {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
    }
}

.body {
    color: var(--color-white);

    &__m {
        font-weight: 300;
        font-size: 15px;
        line-height: 19px;
    }

    &__s {
        opacity: 0.75;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
    }
}
