// // // // // // // // // // // // // // // // // // // //

.nav {
    @media only screen and (min-width: 768px) {
        margin: 23px 24px 0 24px;
    }

    @media only screen and (min-width: 1100px) {
        grid-column: 1 / 2;
        grid-row: 1 / 5;
        margin: 0;
    }
}

.wrapper {
    height: 56px;
    padding: 0 16px;
    background-color: var(--color-semi-dark-blue);

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (min-width: 768px) {
        border-radius: 10px;
        height: 72px;
        padding: 0 16px 0 24px;
    }

    @media only screen and (min-width: 1100px) {
        width: 100%;
        height: 960px;
        padding: 35px 0 32px 0;
        flex-direction: column;
        border-radius: 20px;
        justify-content: flex-start;
    }
}

// // // // // // // // // // // // // // // // // // // //

.logo_link,
.logo_link:link,
.logo_link:visited {
    display: flex;
    padding: 10px;

    img {
        width: 25px;
        height: 20px;

        @media only screen and (min-width: 768px) {
            width: revert;
            height: revert;
        }
    }
}

// // // // // // // // // // // // // // // // // // // //

.btns_wrapper {
    display: flex;

    @media only screen and (min-width: 1100px) {
        margin-top: 60px;
        flex-direction: column;
    }
}

.btn,
.btn:link,
.btn:visited {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 12px;

    @media only screen and (min-width: 768px) {
        padding: 16px;
    }

    @media only screen and (min-width: 1100px) {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    svg {
        pointer-events: none;
        transform: scale(0.8);

        @media only screen and (min-width: 768px) {
            transform: revert;
        }
    }

    &:hover {
        cursor: pointer;

        path {
            fill: var(--color-red);
        }
    }
}

.active {
    path {
        fill: var(--color-white);
    }

    &:hover path {
        fill: var(--color-white) !important;
    }
}

// // // // // // // // // // // // // // // // // // // //

.profile_btn {
    display: flex;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    background-color: transparent;

    @media only screen and (min-width: 768px) {
        width: 32px;
        height: 32px;
    }

    @media only screen and (min-width: 1100px) {
        width: 40px;
        height: 40px;
        margin-top: auto;
    }

    img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

// // // // // // // // // // // // // // // // // // // //
